<!--{{form}}-->
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>

<label for="location">*Location</label>&nbsp;
  <input type="text" id="location" ><br>
<label for="indes">*Incident Description</label>&nbsp;
  <input type="textarea" id="indes" ><br>
<label>*Date and Time of the Incident</label>&nbsp;
  <input type="date" id="date" >&nbsp;<input type="time" id="time"  step="1" /><br>
<label for="incloc">Incident Location</label>&nbsp;
  <input type="textarea" id="incloc" ><br>
<label for="insev">*Initial Severity</label>&nbsp;
<select id="insev" >
    <option value="Severe">Severe</option>
    <option value="Moderate">Moderate</option>
    <option value="Low">Low</option>
</select><br>
<label for="suscau">Suspected Cause</label>&nbsp;
  <input type="textarea" id="suscau" ><br>
<label for="imactk">Immediate Actions Taken</label>&nbsp;
  <input type="textarea" id="imactk" ><br>
<label>*Sub Incident Types</label>&nbsp;
  <input type="checkbox" id="subincty1" >Environmental Incident<br>
    <input type="checkbox" id="subincty2" >Injury/illness<br>
<input type="checkbox" id="subincty3" >Property Damage<br>
<input type="checkbox" id="subincty4" >Vehicle<br>
<br>
<label for="repby">*Reported By</label>&nbsp;
  <input type="text" id="repby" ><br>
<button onclick="userAction()">Submit</button>

<script type="text/javascript">
 userAction=async()=> {
 var mb2=[]
 if(document.getElementById("subincty1").checked==true){
mb2.push("on")
 }
 else {
 mb2.push("off")
 }
 if(document.getElementById("subincty2").checked==true){
mb2.push("on")
 }
 else {
 mb2.push("off")
 }
  if(document.getElementById("subincty3").checked==true){
mb2.push("on")
 }
 else {
 mb2.push("off")
 }
  if(document.getElementById("subincty4").checked==true){
mb2.push("on")
 }
 else {
 mb2.push("off")
 }
console.log(document.getElementById("time").value)
 myBody=JSON.stringify({
 location:document.getElementById("location").value,
 indes:document.getElementById("indes").value,
 date:document.getElementById("date").value,
 time:document.getElementById("time").value,
 incloc:document.getElementById("incloc").value,
 insev:document.getElementById("insev").value,
 suscau:document.getElementById("suscau").value,
 imactk:document.getElementById("imactk").value,
 repby:document.getElementById("repby").value,
 subincty:mb2
 })
jQuery.ajax({
          url: "http://localhost:8000/post",
          type: "POST",
          data: myBody,
          dataType: "json",
          beforeSend: function(x) {
            if (x && x.overrideMimeType) {
              x.overrideMimeType("application/j-son;charset=UTF-8");
            }
          },
          success: function(result) {
 	     //Write your code here
 	     alert(result)
          }
});
}

</script>
